body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row {
    margin-top: 5%;
    justify-content: space-between;
}
.task-col {
    /* flex-basis: 31%; */
    background: grey;
    border: 2px solid black;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
    margin: 0 10px 5% 10px;
}
.column {
    float: left;
    width: 31%;
}
h1{
    text-align: center;
}
h3 {
    border: 1px solid black;
    padding: 5px 25px;
    position: relative;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}
section{
    background-color: dimgray ;
    box-sizing: content-box;
    border: 2Px solid black;
    margin:25px;
    padding: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .column {
        width: 47%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
#column3 {
    width: 96%;
}
}